@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    
}
:root{
    --btn: blue;
}

body {

    /* display: flex;
    align-items: center;
    justify-content: center; */
    background: linear-gradient(to right,rgb(177, 245, 177),rgb(163, 163, 241));
    /* overflow-x: hidden; */
    height: 100vh;
    font-family: 'Urbanist', sans-serif;
}






.containerr{
    clear:both;
    
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0%;
   
  }
  
  nav{float:right;}
  
  .logo img{float:left;
  width: 350px;
  padding: 30px;
  top: 10px;
  
  
  }
  
  ul li{
    display: inline-block; padding:30px;
    margin-top: 20px;
    font-size:20px; font-family:raleway;
  }
  
  ul li:hover{
    color:orange;
    
  }



a{

    text-decoration: none;
}

input {

    display: none;
}
.body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Urbanist', sans-serif;
    padding-top: 50px;
}

.container {

    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {

    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label {

    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card{

    position: relative;
    height: 100%;
    /* background-color: #323444; */
    
    background: linear-gradient(147deg, #000000 0%, #222e3b 74%);
    border-radius: 10px;
    padding: 30px 35px;
}

.card .image{

    display: flex;
    justify-content: space-between;
}

.card .image img{

    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 23px;
    width: 86%;
    height: 220px;
    object-fit: cover;
}

.card .image .dots{

    text-align: center;
}

.dots div{

    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.dots div:nth-child(1){

    background-color: var(--current-color1);
}

.dots div:nth-child(2){

    background-color: #5B85F9;
}

.dots div:nth-child(3){

    background-color: #000;
}

.card .infos{

    display: block;
    text-align: end;
    padding-top: 60px;
}

.infos span{

    display: block;
}

.infos .name{

    font-size: 30px;
    color: var(--current-color1);
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 25%;
    transition: all .6s ease;
}

.infos .lorem{

    font-size: 15.5px;
    color: #ECEAED;
    letter-spacing: 3px;
}

.card .btn-contact{

    width: 100%;
    height: 60px;
    margin: 35px auto;
    border-radius: 5px;
    background-color: var(--current-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 700;
    transition: all .7s ease;
    opacity: 0.1;
}
.card .btn-contact:hover{
    opacity: 1;
}

/* .card .socials{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.socials i{

    font-size: 25px;
    transition: all .7s ease;
    color: var(--current-color2);
} */



#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}


@media only screen and (max-width: 600px) {
    body {
        height: fit-content;
       /* overflow: hidden; */
    }
    
    .container{
        transform-style: unset;
        overflow-x: hidden;
    }

    .d-none {
        display: none;
    }
    .card .btn-contact{
        opacity: 1;
        background-color: #5B85F9;
        color: #acffed;
        margin:19px auto;
    }

    /* Remove the individual slide checkboxes */
    #s1, #s2, #s3, #s4, #s5 {
        transform: translate(0);
        display: none;
       
    }
    #slider1, #slider2, #slider3, #slider4, #slider5 {
        transform: translate3d(0,0,0);
    }
    .cards label{
        position: inherit;
    }
    .infos .name{
        margin-right: 40%;
        margin-top: -10%;
        color: #f4fdc9;
        /* text-align: center; */
    }
    .infos .lorem{
        margin-left: -10%;
        overflow-x: hidden;
        text-align: center;
    }

    .cards {
        display: block; /* Use block display for mobile layout */
        max-width: 80%; /* Adjust the maximum width of the cards container */
        height: 520px;
        margin-left: -15%;
        margin-right: 15px; /* Center the cards horizontally */
        perspective: none;
        transform-style: unset;
    }
    .dots{
        display: none;
    }
    .image{
        margin-right: -15%;
    }

    .card {
        width: 100%; /* Cards should take up full width on mobile */
        margin: 20px 0; /* Add some vertical margin between cards */
    }

    /* Adjust card styling as needed */
    .image img {
        width: 100%; /* Make sure the images scale properly */
    }
    ul li{
        display: none;
    }
    

    /* You may need to adjust other properties for optimal mobile layout */





   
}

