body {
  background: linear-gradient(to right, #85D8CE, #085078);
}







.containerr{
  clear:both;
  
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0%;
 
}

nav{float:right;
}

.logo img{float:left;
width: 350px;
padding: 30px;
top: 10px;
margin-top: 5px;


}

ul li{
  display: inline-block; padding:30px;
  margin-top: 20px;
  font-size:20px; font-family:raleway;
  color: #b7bbbb;
}

ul li:hover{
  color:orange;
  
}









#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 120px;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.calculator {
  width: 480px;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  font-size: 16px;
  background:linear-gradient(to right, #4d4a4a,rgb(88, 87, 87))
}

.input {
  width: 420px;
  height: 50px;
  border-radius: 0px;
  border: 1px solid black;
  background-color: #494646;
  color: #d9d9d9;
  padding: 0 5px 0 5px;
  margin: 0 0px 10px 0px;
  font-size: 30px;
}

.input:focus,
.input:active {
  border-color: #03a9f4;
  box-shadow: 0 0 4px #03A9F4;
  outline: none 0;
}

.button {
  margin: 3px;
  width: 63px;
  border: 1px solid #0d0d0d;
  height: 30px;
  border-radius: 4px;
  color: #d9d9d9;
  background-color: #b97f09;
  cursor: pointer;
  outline: none;
}

.mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.equal-sign {
  background-color: green;
  width: 133px;
}

.toggle-button {
  border: none;
  background-color: #4d4a4a;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.35);
}

p {
  margin-top: 0;
}

button::-moz-focus-inner {
  border-color: transparent;
}
@media screen and (max-width: 500px) {
  nav{
      display: none !important;
  }
  .logo{
      margin-left: 15% !important;
  }
  
}